/*!
 * sherlock 自定义皮肤
 * Copyright 2011-2014 Twitter, Inc.
 * 完全按照bootstrap AO设计思想 来写皮肤
 * 按钮
 */


/* 标准btn */
.btn-default {

}

/* hover、focus、active变化时的颜色 */
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {

}


/** 视觉加重btn  表示在一组button中 该按钮最主要的 **/
.btn-primary{
    color: #009ddc;
    background-color: transparent;
    border : 2px solid #009ddc;
}


/* hover、focus、active变化时的颜色 */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active{
    color: #ffffff;
    background-color: #009ddc;
    border-color: #009ddc;
}




/** 表示成功 正使用的btn  **/
.btn-success{

}

/** 表示某种信息 btn **/
.btn-info{

}


/** btn 大小 **/

/** 默认中尺寸 **/
.btn{
    padding: 2px 30px;
    font-size: 14px;
}

/** 超级大 **/
.btn-sg{

}

/** 大 **/
.btn-lg{
    padding: 2px 50px;
    font-size: 18px;
}


/** 小尺寸 **/
.btn-sm {
    padding: 2px 10px;
    font-size: 12px;
}

/** 超小尺寸 **/
.btn-xs{

}

/*!
 * sherlock 自定义皮肤
 * Copyright 2011-2014 Twitter, Inc.
 * 完全按照bootstrap AO设计思想 来写皮肤
 * 全局
 */

body {
    /** 全站字体颜色 **/
    color: #999999;
    /** 全站背景颜色 **/
    background-color: #e8e8e8;
}



/*!
 * sherlock 自定义皮肤
 * Copyright 2011-2014 Twitter, Inc.
 * 完全按照bootstrap AO设计思想 来写皮肤
 * 巨幕
 */


.jumbotron {

    /** 上下间距 **/
    margin-bottom: 20px;
    margin-top: 20px;

    color: inherit;
    background-color: inherit;
}
.jumbotron h1,
.jumbotron .h1 {
    color: inherit;
}

.jumbotron img{

}

.jumbotron p {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
}
.jumbotron > hr {
    border-top-color: #d5d5d5;
}
.container .jumbotron {
    border-radius: 6px;
}
.jumbotron .container {
    max-width: 100%;
}

/** <=768px 下面进行操作 **/
@media screen and (min-width: 768px) {

    .jumbotron{
        padding-top: 0;
        padding-bottom: 0;
    }
}
/*!
 * sherlock 自定义皮肤
 * Copyright 2011-2014 Twitter, Inc.
 * 完全按照bootstrap AO设计思想 来写皮肤
 * 导航条部分
 */

/** 导航条 **/
.navbar-sherlock {
    /** 设置背景色 **/
    background-color: #FFFFFF;
    /** 边框颜色 **/
    border: 0 none;
    /**导航条高度 **/
    min-height: 46px;
    height: 46px;
    box-shadow:0 1px 2px #bdbdbd ;
}

/**  brand颜色 **/
.navbar-sherlock .navbar-brand {
    /*color:  #b3b3b3;*/
}
/** brand颜色和背景颜色 获得焦点 **/
.navbar-sherlock .navbar-brand:hover,
.navbar-sherlock .navbar-brand:focus {
    background-color: transparent;
    color: inherit;
}
/** 设置brand下logo部分 **/
.logo-sherlock {
    position: relative;
    bottom: 8px;
    margin-right: 30px;
}


/*设置navbar-text的文本颜色*/
.navbar-sherlock .navbar-text {
    color: #777;
}


/*设置菜单项链接*/
.navbar-sherlock .navbar-nav > li > a {
    color: inherit;
    /**　导航条高度变化需要　改变padding **/
    padding-top: 13px;
    padding-bottom: 13px;

    /** 字体大小 **/
    font-size: 16px;
    /** 左右间距 **/
    padding-left: 40px;
    padding-right: 40px;
}
/*设置菜单项链接 (获得焦点) */
.navbar-sherlock .navbar-nav > li > a:hover,
.navbar-sherlock .navbar-nav > li > a:focus {
    color: inherit;
    background-color: transparent;
}


/* active 下的菜单项样式 */
.navbar-sherlock .navbar-nav > .active > a,
.navbar-sherlock .navbar-nav > .active > a:hover,
.navbar-sherlock .navbar-nav > .active > a:focus {
    color: #009ddc;
    /*background-color: inherit;*/
}
/** active 样式下滑线 **/
.navbar-sherlock  li.active  > a:after{
    border-top: 1px solid #009ddc;
    content: '';
    display: block;
    top: 5px;
    width: 130%;
    left: -17%;
    position: relative;
}

/* disabled 下的菜单项样式 */
.navbar-sherlock .navbar-nav > .disabled > a,
.navbar-sherlock .navbar-nav > .disabled > a:hover,
.navbar-sherlock .navbar-nav > .disabled > a:focus {
    color: #ccc;
    /*background-color: transparent;*/
}


/* 下拉菜单打开时,其里面的当前活动的子菜单项样式 */
.navbar-sherlock .navbar-nav .open .dropdown-menu > .active > a,
.navbar-sherlock .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-sherlock .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

/*下拉菜单打开时,里面的当前已禁用的子菜单项样式 **/
.navbar-sherlock .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-sherlock .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar-sherlock .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
background-color: transparent;
}

.navbar-sherlock .navbar-link {
    color: #777; /*内部链接的文本颜色*/
}
.navbar-sherlock .navbar-link:hover {
    color: #333; /*内部链接在鼠标移动时的文本颜色*/
}
/*
 * 属性值 css类
 * sherlock
 * 2014/3/25 周二
 */


/* height */
.h14{height:14px;}
.h16{height:16px;}
.h18{height:18px;}
.h20{height:20px;}
.h22{height:22px;}
.h24{height:24px;}


/* width */
/* fixed width value */
.w20{width:20px;}
.w50{width:50px;}
.w70{width:70px;}
.w100{width:100px;}
.w120{width:120px;}
.w140{width:140px;}
.w160{width:160px;}
.w180{width:180px;}
.w200{width:200px;}
.w220{width:220px;}
.w250{width:250px;}
.w280{width:280px;}
.w300{width:280px;}
.w320{width:320px;}
.w360{width:360px;}
.w400{width:400px;}
.w460{width:460px;}
.w500{width:500px;}
.w600{width:600px;}
.w640{width:640px;}
.w700{width:700px;}
/* percent width value */
.pct10{width:10%;}
.pct15{width:15%;}
.pct20{width:20%;}
.pct25{width:25%;}
.pct30{width:30%;}
.pct33{width:33.3%;}
.pct40{width:40%;}
.pct50{width:50%;}
.pct60{width:60%;}
.pct66{width:66.6%;}
.pct70{width:70%;}
.pct75{width:75%;}
.pct80{width:80%;}
.pct90{width:90%;}
.pct100{width:100%;}
/* line-height */
.lh14{line-height:14px;}
.lh16{line-height:16px;}
.lh18{line-height:18px;}
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh24{line-height:24px;}


/* margin */
.m0{margin:0;}
.ml1{margin-left:1px;}
.ml2{margin-left:2px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.mr1{margin-right:1px;}
.mr2{margin-right:2px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mt1{margin-top:1px;}
.mt2{margin-top:2px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt35{margin-top: 35px;}

.mb1{margin-bottom:1px;}
.mb2{margin-bottom:2px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom: 35px}

/* margin negative */
.ml-1{margin-left:-1px;}
.mr-1{margin-right:-1px;}
.mt-1{margin-top:-1px;}
.mb-1{margin-bottom:-1px;}
.ml-3{margin-left:-3px;}
.mr-3{margin-right:-3px;}
.mt-3{margin-top:-3px;}
.mb-3{margin-bottom:-3px;}
.ml-20{margin-left:-20px;}
.mr-20{margin-right:-20px;}
.mt-20{margin-top:-20px;}
.mb-20{margin-bottom:-20px;}
/* padding */
.p0{padding:0;}
.p1{padding:1px;}
.pl1{padding-left:1px;}
.pt1{padding-top:1px;}
.pr1{padding-right:1px;}
.pb1{padding-bottom:1px;}
.p2{padding:2px;}
.pl2{padding-left:2px;}
.pt2{padding-top:2px;}
.pr2{padding-right:2px;}
.pb2{padding-bottom:2px;}
.pl5{padding-left:5px;}
.p5{padding:5px;}
.pt5{padding-top:5px;}
.pr5{padding-right:5px;}
.pb5{padding-bottom:5px;}
.p10{padding:10px;}
.pl10{padding-left:10px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.p15{padding:15px;}
.pl15{padding-left:15px;}
.pt15{padding-top:15px;}
.pr15{padding-right:15px;}
.pb15{padding-bottom:15px;}
.p20{padding:20px;}
.pl20{padding-left:20px;}
.pt20{padding-top:20px;}
.pr20{padding-right:20px;}
.pb20{padding-bottom:20px;}
.p30{padding:30px;}
.pl30{padding-left:30px;}
.pt30{padding-top:30px;}
.pr30{padding-right:30px;}
.pb30{padding-bottom:30px;}
/* border-color name rule: border(b)-position(l/r/t/b/d)-width(null/2)-style(null/sh)-color(first one letter/first two letter) |-> All colors are safe color*/
.bdc{border:1px solid #ccc;}
.blc{border-left:1px solid #ccc;}
.brc{border-right:1px solid #ccc;}
.btc{border-top:1px solid #ccc;}
.bbc{border-bottom:1px solid #ccc;}
.bdd{border:1px solid #ddd;}
.bld{border-left:1px solid #ddd;}
.brd{border-right:1px solid #ddd;}
.btd{border-top:1px solid #ddd;}
.bbd{border-bottom:1px solid #ddd;}
.bde{border:1px solid #eee;}
.ble{border-left:1px solid #eee;}
.bre{border-right:1px solid #eee;}
.bte{border-top:1px solid #eee;}
.bbe{border-bottom:1px solid #eee;}
/* background-color name rule: bg - (key word/Hex color) |-> All colors are safe color */
.bgwh{background-color:#fff;}
.bgfb{background-color:#fbfbfb;}
.bgf5{background-color:#f5f5f5;}
.bgf0{background-color:#f0f0f0;}
.bgeb{background-color:#ebebeb;}
.bge0{background-color:#e0e0e0;}
/* safe color */
.g0{color:#000;}
.g3{color:#333;}
.g6{color:#666;}
.g9{color:#999;}
.gc{color:#ccc;}
.wh{color:white;}
/* font-size */
.f0{font-size:0;}
.f10{font-size:10px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.f22{font-size:22px;}
.f30{font-size: 30px;}


/* font-family */
.fa{font-family:Arial;}
.ft{font-family:Tahoma;}
.fv{font-family:Verdana;}
.fs{font-family:Simsun;}
.fl{font-family:'Lucida Console';}
.fw{font-family:'Microsoft Yahei';}


/* letter-spacing */
.lt-1{letter-spacing:-1px;}
.lt0{letter-spacing:0;}
.lt1{letter-spacing:1px;}