
<!-- 嵌入meta  begin-->
<%- include  ../common/meta.html  %>
<!-- 嵌入meta  end-->

<!-- Bootstrap -->
<link href="/source/external/bootstrap-3.2.0/dist/css/bootstrap.min.css" rel="stylesheet"  type="text/css" />

<!-- 自定义皮肤 -->
<link href="/source/custom/myskin/myskin.css" rel="stylesheet"  type="text/css" />


<!-- 小于ie9 的文件 -->
<!--[if lt IE 9]>
<script src="/source/external/html5shiv.min.js"></script>
<script src="/source/external/respond.min.js"></script>
<![endif]-->


<!-- 引入seajs -->
<script src="/source/external/sea-modules/seajs/2.3.0/dist/sea-debug.js" id="seajsnode"></script>
<!-- 引入seajs 配置 -->
<script src="/source/external/seajs_config.js" ></script>






