/*!
 * sherlock 自定义皮肤
 * Copyright 2011-2014 Twitter, Inc.
 * 完全按照bootstrap AO设计思想 来写皮肤
 * 按钮
 */


/* 标准btn */
.btn-default {

}

/* hover、focus、active变化时的颜色 */
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {

}


/** 视觉加重btn  表示在一组button中 该按钮最主要的 **/
.btn-primary{
    color: #009ddc;
    background-color: transparent;
    border : 2px solid #009ddc;
}


/* hover、focus、active变化时的颜色 */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active{
    color: #ffffff;
    background-color: #009ddc;
    border-color: #009ddc;
}




/** 表示成功 正使用的btn  **/
.btn-success{

}

/** 表示某种信息 btn **/
.btn-info{

}


/** btn 大小 **/

/** 默认中尺寸 **/
.btn{
    padding: 2px 30px;
    font-size: 14px;
}

/** 超级大 **/
.btn-sg{

}

/** 大 **/
.btn-lg{
    padding: 2px 50px;
    font-size: 18px;
}


/** 小尺寸 **/
.btn-sm {
    padding: 2px 10px;
    font-size: 12px;
}

/** 超小尺寸 **/
.btn-xs{

}
